In [45]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [66]:
data = pd.read_csv(r"D:\study\dataset\housing prices\train.csv")
relation = data.corr(method = 'pearson')
list = relation[relation['SalePrice'] > 0.3].index
data = data[list]
data = data.dropna()
label = data['SalePrice']
data = data[list[:-1]]

In [59]:
reg = LinearRegression()
reg.fit(data, label)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [80]:
data1 = pd.read_csv(r"D:\study\dataset\housing prices\test.csv")
val = data1['Id']
temp = data1.index
l = len(data1)
data1 = data1[list[:-1]]
data1 = data1.dropna()
temp1 = data1.index

p = reg.predict(data1)

In [81]:
list1 = []
for x in temp:
    if x not in temp1:
        list1.append(x)

In [83]:
len(list1)

312

In [84]:
m = np.mean(p)

In [85]:
new = pd.DataFrame(columns = ['Id', 'SalePrice'])
new['Id'] = list1
new['SalePrice'] = m

In [86]:
new1 = pd.DataFrame(columns = ['Id', 'SalePrice'])
new1['Id'] = temp1
new1['SalePrice'] = p

In [91]:
new = new.append(new1)
new = new.sort_values('Id')
new['Id'] = val

In [93]:
new.head(20)

      Id      SalePrice
0   1461  106419.444483
1   1462  163043.037665
2   1463  178295.887503
3   1464  202048.803228
4   1465  203856.453077
5   1466  181385.629115
6   1467  171186.589009
7   1468  207750.764586
8   1469  108137.347705
9   1470  218000.147808
10  1471  132796.421206
11  1472  110970.749630
12  1473  172222.473508
13  1474  128186.162953
14  1475  318882.707878
15  1476  254098.933995
16  1477  304690.643025
17  1478  273515.448940
18  1479  412688.971977
19  1480  301723.947239

In [94]:
new.to_csv('housingprices.csv', index = False)